html {
    background-color: black;
}

body {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 375px;
    height: 812px;
    background-color: #fffded;
    font-family: 'Spartan', sans-serif;
}

footer {
    background-color: #FFB17A;
    bottom: 0px;
    position: absolute;
    width: 100%;
}

footer ul {
    display: inline-block;
    list-style: none;
}

footer li {
    display: inline-block;   
    justify-content: space-between;
}

/* Support page*/
button {
background-color: #FFB17A;
color: ivory;
justify-content: space-around;
padding: 10px;
}



#meditation-box {
    display: flex;
    align-items: flex-end;
}

.minmatic, .robert, .johnmayer, .bigdog {
    max-width: 100%;
    
}

.community-content {
    overflow: scroll;
    max-width: 100%;
    padding-right: 10px;
    margin: 10px;
}