html {
    background-color: black;
}

body {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 375px;
    height: 812px;
    background-color: #fffded;
    font-family: 'Spartan', sans-serif;
}

/* Homepage */

.timer {
    margin-top: 30px;
    margin-bottom: 30px;
}

.streak {
    padding: 20px;
}

.streakGrid {
    display: grid;
    width: 350px;
    grid-template-columns: 69% 31%;
    grid-template-rows: 30px 30px 30px;
    grid-template-areas: 
    "currentStreak daystreak"
    "currentGoal daygoal"
    "longestStreak daylong";
}

.currentStreak, .currentGoal, .longestStreak {
    grid-area: auto;
}

.currentStreak, .currentGoal, .longestStreak, .daystreak, .daygoal, .daylong {
    padding: 10px;
}
.daystreak, .daygoal, .daylong{
    grid-area: auto;
    text-align: end;
}

#tips {
    text-align: center;
}

/*Community Page*/



.community-content {
    overflow: scroll;
    max-width: 100%;
    width: 350px;
    padding-right: 20px;
}



/* Profile Page */

.profile-header {
    width: 300px;
    padding-top: 50px;
    padding-bottom: 40px;
}

#pic {
    float: left;
}

.profile-info {
padding-top: 10px;
}

.row {
    display: flex;
}

.column1, .column2 {
    float: left;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 30px;
    height: 20px;
}

.column1 {
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    line-height: 19px;
    font-weight: bolder;
}

.column2 {
    padding-bottom: 10px;
}

.badgeGrid {
 display: grid;
 grid-template-columns: 25% 75%;
 grid-template-rows: 100px 100px 100px;
grid-template-areas: 
"badge1 details1"
"badge2 details2"
"badge3 details3";
}

.badge1, .badge2, .badge3 {
    grid-area: auto;
    margin-top: 25px;
    margin-left: 10px;
}

.badge1, .badge2, .badge3, .details1, .details2, .details3 {
    padding: 20px;
}

.detailheader {
    margin-bottom: 10px;
    margin-top: 25px;
}

.completion {
    margin-top: 8px;
}

/* Support page*/

.support-page {
    margin-top: 45px;
}

button {
background-color: #FFB17A;
color: ivory;
justify-content: space-around;
padding: 10px;
margin-top: 20px;
width: 350px;
border-radius: 10px;

}

/* Navigation bar */

footer {
    background-color: #FFB17A;
    bottom: 0px;
    position: absolute;
    width: 100%;
}

footer ul {
    display: inline-block;
    list-style: none;
}

footer li {
    display: inline-block;   
    justify-content: space-between;
}

/* Onboarding */


.username {
    background-color: ivory;
    color: lightgray;
    text-align: start;
    width: 326px;
    height: 46px;
    border-radius: 3px;
}

.privacy-statement {
    margin-top: 30px;
    text-align: center;
    width: 300px;
}

.johndoe {
    background-color: ivory;
    color: black;
    text-align: start;
    font-family: 'Spartan', sans-serif;
    width: 326px;
    height: 46px;
    border-radius: 3px;
}
.continue-button1, .continue-button2, .continue-button3 {
    width: 148px;
    padding: 10px 36px 9px;
    position: absolute;
    height: 37px;
    left: calc(50% - 148px/2);
    top: 606px;
    border-radius: 3px;
    font-family: 'Spartan', sans-serif;
}

.dots1 {
    position: absolute;
    width: 94px;
    height: 16px;
    left: 142px;
    top: 716px;
}

.dots2 {
    position: absolute;
    width: 94px;
    height: 16px;
    left: 142px;
    top: 716px;
}

.dots3 {
    position: absolute;
    width: 94px;
    height: 16px;
    left: 142px;
    top: 716px;
}


/* Dropdown Menu */

label {
    display: inline-block;
    margin-top: 250px;
    margin-bottom: 40px;
    padding: 10px;
}

#habits {
    background-color: ivory;
    font-family: 'Spartan', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 90px;
    padding-right: 90px;
}

/* ob4 */

.how-many-days {
    padding: 20px;
    text-align: center;
    margin-top: 150px;
}

.day-options {
margin: 20px;
}

.days7, .days30, .days90 {
border-radius: 3px;
font-family: 'Spartan', sans-serif;
margin-top: 15px;
margin-bottom: 15px;
padding-top: 15px;
padding-bottom: 15px;
}